<<<<<<< HEAD
body { background-color: lightblue; } 
h1 { color: blue; }
=======
body { background-color: lightblue; } 
h1 { color: blue; } 
>>>>>>> 17d435e60bb4465c4a88fa1f880321da41fa10f2
h2 { color: green; }